{% extends 'base.html.twig' %}

{% block title %}Liste des expositions{% endblock %}

{% block body %}
    <main class="container">

        <h1>Liste des expositions</h1>

        <a class="btn btn-primary" href="{{ path('app_exhibitions_new') }}">Créer une nouvelle exposition</a>

        <table class="table">
            <thead>
            <tr>
                <th>Nom des expositions</th>
                <th>Description</th>
                <th>Couverture</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for exhibition in exhibitions %}
                <tr>
                    <td>{{ exhibition.name }}</td>
                    <td>{{ exhibition.description }}</td>
                    <td><img src="{{ asset('assets/uploads/exhibitions/' ~ exhibition.exhibitionsImages[0].name) }}"
                             alt="Image" width="50"></td>
                    <td>
                        <a class="btn btn-outline-secondary"
                           href="{{ path('app_exhibitions_show', {'id': exhibition.id}) }}">Voir</a>
                        <a class="btn btn-outline-secondary"
                           href="{{ path('app_exhibitions_edit', {'id': exhibition.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucune expositions trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_exhibitions_new') }}">Créer une nouvelle exposition</a>
    </main>
{% endblock %}
