{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <main class="container">
    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
        <tr>
        <th>Identité</th>
        <th>Nom d'artiste</th>
        <th>Email</th>
        <th>Rôles</th>
        <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {# On boucle sur les utilisateurs #}
        {% for user in users %}
            <tr>
                <td>{{ user.lastname }} {{ user.firstname }} </td>
                <td>{{ user.alias }}  </td>
                <td>{{ user.email }}</td>
                <td>
                    {# On boucle sur les rôles #}
                    {% for role in user.roles %}
                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_EDITOR" %}
                            Editeur
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('app_admin_modifier_utilisateurs', {'id': user.id}) }}">Modifier</a>
                </td>

            </tr>

        {% else %}
            <p>Aucun utilisateur inscrit</p>
        {% endfor %}
        </tbody>
    </table>
    </main>

{% endblock %}
