{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <main class="container">

        <h1>Liste des catégories</h1>

        <a class="btn btn-primary" href="{{ path('app_categories_new') }}">Ajouter une catégorie</a>

        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a class="btn btn-outline-secondary"
                           href="{{ path('app_categories_show', {'id': category.id}) }}">Voir</a>
                        <a class="btn btn-outline-secondary"
                           href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun éléments trouvés</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('app_categories_new') }}">Ajouter une catégorie</a>
    </main>
{% endblock %}
