<div class="col-3 mt-3">
    <div class="card h-100">
        {% if media.mediasImages[0].name is defined %}
            <img src="{{ asset('assets/uploads/medias/' ~ media.mediasImages[0].name) }}" alt="" class="card-img-top">
        {% elseif media.mediasVideos[0].name is defined %}
            <img src="{{ asset('assets/uploads/front/default.png') }}" alt="Image" class="card-img-top">
        {% elseif media.mediasMusics[0].name is defined %}
            <img src="{{ asset('assets/uploads/front/default.png') }}" alt="Image" class="card-img-top">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ media.name }}</h5>
            <p class="text text-muted">{{ media.description|length > 100 ? media.description|slice(0, 100) ~ '...' : media.description }}</p>
            <a href="{{path('app_medias_details', {slug:media.slug}) }}"
               class="btn btn-primary">Voir la réalisation</a>
            <div>
                {% for c in media.categories %}
                    <em class="text-muted text-primary">#{{ c.name }}</em>
                {% endfor %}
            </div>
            <div>
                <em class="text-muted text-primary"> Réalisé par {{ media.user.alias }}</em>
            </div>
        </div>
    </div>
</div>

