{% extends 'baseMedia.html.twig' %}

{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block title %}Liste des productions{% endblock %}
{% block body %}
    <div class="container">

        <div class="col-12">
            <p>Filtrer</p>
            <form id="filters">
                <div class="d-flex justify-content-evenly">
                    <label for="mots"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></label>
                    <input type="text" id="mots" name="mots" >
                    <button id="clearText" type="button">Effacer le texte</button>
                    {% for categorie in categories %}
                        {# On vérifie si la catégorie est dans les paramètres #}
                        {% if queryParams is not empty and queryParams.categories is defined %}
                            {% set checked = (categorie.id in queryParams.categories) ? "checked" : "" %}
                        {% else %}
                            {% set checked = "" %}
                        {% endif %}

                        <p><input type="checkbox" name="categories[]" id="cat{{ categorie.id }}"
                                  value="{{ categorie.id }}" {{ checked }}>
                            <label for="cat{{ categorie.id }}">{{ categorie.name }}</label></p>
                    {% endfor %}
                    <input type="hidden" name="page" value="{{ page }}">
                </div>
            </form>

        </div>

        <div id="content" class="row">
            {% include "medias/_content.html.twig" %}
        </div>

    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="{{ asset('assets/js/filters.js') }}"></script>#}
{#{% endblock %}#}


{# {% extends 'base.html.twig' %}

{% block title %}Les réalisations{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Les réalisations du Collectif d'en Face</h1>
            </div>
            <div class="container">
                <section class="row">
                    <div class="col-md-6">
                        {% include 'medias/_filter.html.twig' with {form: form} only %}
                    </div>
                </section>
            </div>
            {% for media in medias %}
                {% include 'medias/_card.html.twig' %}
            {% endfor %}

            <div class="mt-4">
                {{ knp_pagination_render(medias,'_partials/twitter_bootstrap_v4_pagination.html.twig') }}
            </div>
        </section>
    </main>
{% endblock %} #}
