{% extends 'baseMedia.html.twig' %}



{# On crée des variables personnalisées #}
{% set queryParams = app.request.query.all %}

{% block title %}Réalisations{% endblock %}
{% block body %}

    <form id="filters">
        <div class="FiltersBox">
            <div class="FiltersBox-flex">
                <div class="Filters-tabs">
                    <div class="Filters-tabs-section">
                        <input class="Filters-display" type="checkbox" id="chck1">
                        <label class="Filters-tabs-section-label" for="chck1">RECHERCHE</label>
                        <div class="Filters-tabs-section-content">
                            <div class="Filters-tabs-section-content-searchBar">
                                <input type="text" id="mots" name="mots" placeholder="Tapez votre texte ici">
                            </div>
                            <button class="Filters-tabs-section-content-reset"
                                    id="clearText" type="button">
                                <i class="fa-sharp fa-solid fa-rotate fa-lg"></i>
                            </button>
                        </div>
                    </div>
                    <div class="Filters-tabs-section">
                        <input class="Filters-display" type="checkbox" id="chck2">
                        <label class="Filters-tabs-section-label" for="chck2">FILTRES</label>
                        <div class="Filters-tabs-section-content">

                            {% for categorie in categories %}
                                {# On vérifie si la catégorie est dans les paramètres #}
                                {% if queryParams is not empty and queryParams.categories is defined %}
                                    {% set checked = (categorie.id in queryParams.categories) ? "checked" : "" %}
                                {% else %}
                                    {% set checked = "" %}
                                {% endif %}

                                <div class="Filters-tabs-section-content-cats">
                                    <input class="Filters-tabs-section-content-cats-input" type="checkbox"
                                           name="categories[]" id="cat{{ categorie.id }}"
                                           value="{{ categorie.id }}" {{ checked }}>
                                    <label class="Filters-tabs-section-content-cats-label"
                                           for="cat{{ categorie.id }}">{{ categorie.name }}</label>
                                </div>

                            {% endfor %}

                            <button class="Filters-tabs-section-content-reset" id="reset-filters"
                                    data-form-id="filters">
                                <i class="fa-sharp fa-solid fa-rotate fa-lg"></i>
                            </button>

                            <input type="hidden" name="page" value="{{ page }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div id="content" class="row">
        {% include "medias/_content.html.twig" %}
    </div>


{% endblock %}
