{% extends 'base.html.twig' %}

{% block title %}Liste des médias{% endblock %}

{% block body %}
<main class="container">

    <h1>Liste des médias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du média</th>
                <td>{{ media.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ media.description }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for mediasImage in media.mediasImages %}

                        <img src="{{ asset('assets/uploads/medias/' ~ mediasImage.name) }}" alt="Image" width="150">

                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('app_medias_index_admin') }}">Retour à la liste</a>

    <a class="btn btn-outline-secondary" href="{{ path('app_medias_edit_admin', {'id': media.id}) }}">Modifier</a>

    {{ include('admin/medias/_delete_form.html.twig') }}

</main>
{% endblock %}
