{% extends 'users.html.twig' %}

{% block title %}Modification du profil de {{ app.user.firstname }} {{ app.user.lastname }}{% endblock %}

{% block body %}
    <div class=" container">
        <div class="col">
            <h1>Modification du profil de {{ app.user.alias }}</h1>
            {{ form(form) }}
            <div>
                <h5>Image de profil</h5>
                <img src="{{ asset('assets/uploads/profiles/' ~ app.user.image) }}" alt="Image" width="150">
            </div>
        </div>

    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/images.js') }}"></script>
{% endblock %}

