{% extends 'base.html.twig' %}

{% block title %}ExhibitionsYears{% endblock %}

{% block body %}
    <h1>ExhibitionsYears</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exhibitions_year.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ exhibitions_year.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_years_index') }}">back to list</a>

    <a href="{{ path('app_years_edit', {'id': exhibitions_year.id}) }}">edit</a>

    {{ include('admin/years/_delete_form.html.twig') }}
{% endblock %}
